*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

.home {
    background-color: #FEE3C3;
}

nav img {
    width: 8rem;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: -10rem;
    position: relative;
}

.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 6px;
    background: #84855D;
    display: block;
    margin: auto;
    transition: 0.5s;
    border-radius: 10rem;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.medica_img {
    padding-left: 33rem;
}

.medica h2 {
    text-align: center;
    font-style: normal;
    font-size: 3rem;
    color: #5F4C45;
}

.about{
    background: linear-gradient(to right,
                #FDF9F6 0%,
                #FDF9F6 50%,
                #FEE3C3 50%,
                #FEE3C3 100%);
}

.about-content{
    text-align: center;
    align-items: center;
}

.about-content h1{
    color: #4F3A34;
    font-size: 3rem;
    font-weight: bold;
    margin-top: -2rem;
}

.about-content p{
    color: #443D34;
    font-size: 1.5rem;
}